@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
  --background: #f8f8f8;
  --text: #313131;
}

.dark-mode {
  --background: #313131;
  --text: #f8f8f8;
}

.sepia-mode {
  --background-color: #f1e7d0;
  --text: #433422;
  }